# AUTO-GENERATED by rspec-openapi via script/openapi/run_rspec.sh.
# Do not edit by hand. Re-record with: bundle exec rake openapi:generate
# (full) or `script/openapi/run_rspec.sh <controller>` (single-controller).
# Source: spec/controllers/api/v2/*_spec.rb (real responses).
---
openapi: 3.0.3
info:
  title: Gumroad API v2 (recorded from rspec)
  version: 2.0.0
servers:
- url: https://api.gumroad.com/v2
paths:
  '':
    get:
      summary: 'GET '
      responses:
        '200':
          description: eager loads associations for multiple sales
  "/(*path)":
    get:
      summary: e404_page
      tags:
      - Application
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: JrUgGBzuMjukoQmtOpI95FUz6XXeBAU_XZ_cV6cueZ0
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: vIP1u_HWwcVC-S-eslv82w==
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: nLpdeRLYrZggQwt33QCVpw==
      - name: products
        in: query
        required: false
        schema:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              quantity:
                type: string
              position:
                type: string
            required:
            - product_id
            - quantity
            - position
        example:
        - product_id: V113rZgvN64QGOVKZ8B-gw==
          quantity: '1'
          position: '0'
      - name: required
        in: query
        required: false
        schema:
          type: string
        example: 'false'
      responses:
        '401':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
              example: ''
        '403':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
              example: ''
  "/notion/unfurl":
    delete:
      summary: DELETE /notion/unfurl
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: destroy
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/notion_unfurl_urls
      responses:
        '200':
          description: returns with an OK response without doing anything else
          content:
            text/html:
              schema:
                type: string
              example: ''
    post:
      summary: POST /notion/unfurl
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: create
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/notion_unfurl_urls
      responses:
        '200':
          description: does not include the description attribute
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: array
                          items:
                            type: string
                        set:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              inline:
                                type: object
                                properties:
                                  title:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      section:
                                        type: string
                                    required:
                                    - value
                                    - section
                                    nullable: true
                                  plain_text:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      section:
                                        type: string
                                    required:
                                    - value
                                    - section
                                    nullable: true
                                  enum:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      color:
                                        type: object
                                        properties:
                                          r:
                                            type: integer
                                          g:
                                            type: integer
                                          b:
                                            type: integer
                                        required:
                                        - r
                                        - g
                                        - b
                                      section:
                                        type: string
                                    required:
                                    - value
                                    - color
                                    - section
                                    nullable: true
                                nullable: true
                              type:
                                type: string
                                nullable: true
                              embed:
                                type: object
                                properties:
                                  src_url:
                                    type: string
                                  image:
                                    type: object
                                    properties:
                                      section:
                                        type: string
                                    required:
                                    - section
                                required:
                                - src_url
                                - image
                                nullable: true
                            required:
                            - id
                            - name
                      required:
                      - path
                      - set
                required:
                - uri
                - operations
              example:
                uri: http://john.test.gumroad.com:31337/l/y
                operations:
                - path:
                  - attributes
                  set:
                  - id: title
                    name: Product name
                    inline:
                      title:
                        value: An ultimate guide to become a programmer!
                        section: title
                  - id: creator_name
                    name: Creator name
                    type: inline
                    inline:
                      plain_text:
                        value: john
                        section: secondary
                  - id: rating
                    name: Rating
                    type: inline
                    inline:
                      plain_text:
                        value: "★ 0.0"
                        section: secondary
                  - id: price
                    name: Price
                    type: inline
                    inline:
                      enum:
                        value: "$1"
                        color:
                          r: 255
                          g: 144
                          b: 232
                        section: primary
                  - id: site
                    name: Site
                    type: inline
                    inline:
                      plain_text:
                        value: http://john.test.gumroad.com:31337/l/y
                        section: secondary
        '401':
          description: returns error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      status:
                        type: integer
                      message:
                        type: string
                    required:
                    - status
                    - message
                required:
                - error
              example:
                error:
                  status: 401
                  message: Request need to be authorized. Required parameter for authorizing
                    request is missing or invalid.
        '404':
          description: returns error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      status:
                        type: integer
                      message:
                        type: string
                    required:
                    - status
                    - message
                  uri:
                    type: string
                  operations:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: array
                          items:
                            type: string
                        set:
                          type: object
                          properties:
                            status:
                              type: integer
                            message:
                              type: string
                          required:
                          - status
                          - message
                      required:
                      - path
                      - set
              example:
                error:
                  status: 404
                  message: Product not found
                uri: http://john.test.gumroad.com:31337/l/hello
                operations:
                - path:
                  - error
                  set:
                    status: 404
                    message: Product not found
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uri:
                  type: string
              required:
              - uri
            example:
              uri: http://john.test.gumroad.com:31337/l/y
  "/v2/earnings":
    get:
      summary: show
      tags:
      - Api::V2::Earning
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: zNQ03SkTGFUv2YYPzfhjmuDoZUMx-WxKXJ8d-vOjj3c
      - name: year
        in: query
        required: false
        schema:
          oneOf:
          - type: integer
          - type: array
            items:
              type: string
        example: 2021
      responses:
        '200':
          description: returns zeroed totals for a valid year with no sales
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  year:
                    type: integer
                  currency:
                    type: string
                  gross_cents:
                    type: integer
                  fees_cents:
                    type: integer
                  taxes_cents:
                    type: integer
                  affiliate_credit_cents:
                    type: integer
                  net_cents:
                    type: integer
                required:
                - success
                - year
                - currency
                - gross_cents
                - fees_cents
                - taxes_cents
                - affiliate_credit_cents
                - net_cents
              example:
                success: true
                year: 2025
                currency: usd
                gross_cents: 0
                fees_cents: 0
                taxes_cents: 0
                affiliate_credit_cents: 0
                net_cents: 0
        '401':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
              example: ''
        '403':
          description: returns 403 when tax_center is not enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: Tax center is not enabled for this account.
            text/html:
              schema:
                type: string
              example: ''
        '404':
          description: returns 404 when the year is before the seller account-creation
            year
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: Earnings are not available for 2021.
  "/v2/files/abort":
    post:
      summary: abort
      tags:
      - Api::V2::File
      responses:
        '200':
          description: returns success with status=accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                required:
                - success
                - status
              example:
                success: true
                status: accepted
        '400':
          description: returns 400 when S3 raises a service error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: 400
                error: boom
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
              example: ''
        '403':
          description: returns 403
          content:
            text/html:
              schema:
                type: string
              example: ''
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                key:
                  type: string
                upload_id:
                  type: string
              required:
              - access_token
              - key
              - upload_id
            example:
              access_token: QPts0bPeXQz0onEzBFrTVZI1D5Iqk1eeyOqe0a8xr_I
              key: attachments/3337427545432/abc123hex/original/course.pdf
              upload_id: test-upload-id
  "/v2/files/complete":
    post:
      summary: complete
      tags:
      - Api::V2::File
      responses:
        '200':
          description: returns success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  file_url:
                    type: string
                required:
                - success
                - file_url
              example:
                success: true
                file_url: http://localhost:9000/gumroad-specs/attachments/1967406613587/abc123hex/original/course.pdf
        '400':
          description: returns 400 with the S3 error message when the upload_id no
            longer exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: 400
                error: The specified upload does not exist.
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
              example: ''
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                key:
                  type: string
                parts:
                  type: array
                  items:
                    type: object
                    properties:
                      part_number:
                        type: string
                      etag:
                        type: string
                    required:
                    - part_number
                    - etag
                upload_id:
                  type: string
              required:
              - access_token
              - key
              - parts
              - upload_id
            example:
              access_token: 9nbgyqe_OkO0aswGwRaMAhISAazgcdeIhOsrn5_MxuQ
              key: attachments/1967406613587/abc123hex/original/course.pdf
              parts:
              - part_number: '1'
                etag: '"etag-abc"'
              upload_id: test-upload-id
  "/v2/files/presign":
    post:
      summary: presign
      tags:
      - Api::V2::File
      responses:
        '200':
          description: returns success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  upload_id:
                    type: string
                  key:
                    type: string
                  file_url:
                    type: string
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        part_number:
                          type: integer
                        presigned_url:
                          type: string
                      required:
                      - part_number
                      - presigned_url
                required:
                - success
                - upload_id
                - key
                - file_url
                - parts
              example:
                success: true
                upload_id: test-upload-id
                key: attachments/9084310414195/c1bc0e8e2d9fc488861f2191ec5b944a/original/course.pdf
                file_url: http://localhost:9000/gumroad-specs/attachments/9084310414195/c1bc0e8e2d9fc488861f2191ec5b944a/original/course.pdf
                parts:
                - part_number: 1
                  presigned_url: http://localhost:9000/gumroad-specs/attachments/9084310414195/c1bc0e8e2d9fc488861f2191ec5b944a/original/course.pdf?partNumber=1&uploadId=test-upload-id&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minioadmin%2F20260429%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20260429T161811Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=4b4f8df4717ed5e0d9c5529517a20645059e824f3bbcb314dc7f5a6c40e72e60
        '400':
          description: returns 400 when file_size exceeds the 20 GB maximum
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: 400
                error: file_size exceeds the 20 GB maximum
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
              example: ''
        '403':
          description: returns 403
          content:
            text/html:
              schema:
                type: string
              example: ''
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                file_size:
                  type: string
                filename:
                  type: string
              required:
              - access_token
              - file_size
              - filename
            example:
              access_token: HYAMB5jbr2aHkjcozancWq_rkPcjIQZcUFtj-rTSq5A
              file_size: '1048576'
              filename: course.pdf
  "/v2/payouts":
    get:
      summary: index
      tags:
      - Api::V2::Payout
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: Xzmiof1abj433J59fHkBH7GOjdGN1Mt0Ai7aKqgq5Ks
      - name: after
        in: query
        required: false
        schema:
          oneOf:
          - type: string
          - type: integer
        example: '2026-04-24'
      - name: before
        in: query
        required: false
        schema:
          type: string
        example: '2026-04-27'
      - name: page_key
        in: query
        required: false
        schema:
          type: string
        example: invalid-page-key
      responses:
        '200':
          description: returns payouts in descending order by creation date
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  payouts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        amount:
                          type: string
                        currency:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                        processed_at:
                          type: string
                        payment_processor:
                          type: string
                        bank_account_visual:
                          nullable: true
                        paypal_email:
                          nullable: true
                      required:
                      - id
                      - amount
                      - currency
                      - status
                      - created_at
                      - processed_at
                      - payment_processor
                      - bank_account_visual
                      - paypal_email
                  next_page_key:
                    type: string
                  next_page_url:
                    type: string
                required:
                - success
                - payouts
              example:
                success: true
                payouts:
                - id: v4dFCcApNcK5YEU3moPUuw==
                  amount: '1.50'
                  currency: usd
                  status: completed
                  created_at: '2026-04-28T16:19:11Z'
                  processed_at: '2026-04-29T16:19:11Z'
                  payment_processor: PAYPAL
                  bank_account_visual:
                  paypal_email:
                - id: sgT_6idOt-Co8cWKGKp_LA==
                  amount: '150.00'
                  currency: USD
                  status: completed
                  created_at: '2026-04-28T16:19:11Z'
                  processed_at: '2026-04-29T16:19:11Z'
                  payment_processor: PAYPAL
                  bank_account_visual:
                  paypal_email:
                - id: AfOmUN1sZFxupD8DAIyVMA==
                  amount: '1.50'
                  currency: usd
                  status: completed
                  created_at: '2026-04-24T16:19:11Z'
                  processed_at: '2026-04-29T16:19:11Z'
                  payment_processor: PAYPAL
                  bank_account_visual:
                  paypal_email:
                next_page_key: 20260426161911000000-725982935
                next_page_url: "/v2/payouts.json?page_key=20260426161911000000-725982935"
        '400':
          description: returns a 400 error if page_key is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: 400
                error: Invalid page_key.
        '403':
          description: the response is 403 forbidden for incorrect scope
          content:
            text/html:
              schema:
                type: string
              example: ''
  "/v2/payouts/{id}":
    get:
      summary: show
      tags:
      - Api::V2::Payout
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: 3AUd7KisJjQjlyEI7AMp2JoHd7ZP6FJ6lPaOgEqgMuI
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: wEODf1d8hRF3t-x_toPl4w==
      - name: include_sales
        in: query
        required: false
        schema:
          type: string
        example: 'false'
      responses:
        '200':
          description: returns standard payout data without sales key
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  payout:
                    type: object
                    properties:
                      id:
                        type: string
                      amount:
                        type: string
                      currency:
                        type: string
                      status:
                        type: string
                      created_at:
                        type: string
                      processed_at:
                        type: string
                      payment_processor:
                        type: string
                      bank_account_visual:
                        nullable: true
                      paypal_email:
                        nullable: true
                      sales:
                        type: array
                        items: {}
                      refunded_sales:
                        type: array
                        items: {}
                      disputed_sales:
                        type: array
                        items: {}
                    required:
                    - id
                    - amount
                    - currency
                    - status
                    - created_at
                    - processed_at
                    - payment_processor
                    - bank_account_visual
                    - paypal_email
                  message:
                    type: string
                required:
                - success
              example:
                success: true
                payout:
                  id: tQ_nEqTLzme88j2giCkfeg==
                  amount: '150.00'
                  currency: USD
                  status: completed
                  created_at: '2026-04-28T16:19:14Z'
                  processed_at: '2026-04-29T16:19:14Z'
                  payment_processor: PAYPAL
                  bank_account_visual:
                  paypal_email:
                  sales: []
                  refunded_sales: []
                  disputed_sales: []
                message: The payout was not found.
        '403':
          description: the response is 403 forbidden for incorrect scope
          content:
            text/html:
              schema:
                type: string
              example: ''
  "/v2/products":
    get:
      summary: index
      tags:
      - Api::V2::Link
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: mqskdSE9eptqqv-f1K2JXjjcuoEg3ChJJkyyC9vKNTA
      - name: name
        in: query
        required: false
        schema:
          type: string
        example: Some product
      - name: page_key
        in: query
        required: false
        schema:
          type: string
        example: invalid
      - name: price
        in: query
        required: false
        schema:
          type: integer
        example: 200
      responses:
        '200':
          description: batch loads file_attachment and file_blob for covers (not one
            query per record)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        preview_url:
                          nullable: true
                          type: string
                        description:
                          type: string
                        customizable_price:
                          nullable: true
                        require_shipping:
                          type: boolean
                        custom_receipt:
                          nullable: true
                        custom_permalink:
                          nullable: true
                        subscription_duration:
                          nullable: true
                        id:
                          type: string
                        url:
                          nullable: true
                        price:
                          type: integer
                        currency:
                          type: string
                        short_url:
                          type: string
                        thumbnail_url:
                          nullable: true
                        tags:
                          type: array
                          items: {}
                        formatted_price:
                          type: string
                        published:
                          type: boolean
                        file_info:
                          type: object
                          properties: {}
                        max_purchase_count:
                          nullable: true
                        deleted:
                          type: boolean
                        custom_fields:
                          type: array
                          items: {}
                        custom_summary:
                          nullable: true
                        is_tiered_membership:
                          type: boolean
                        recurrences:
                          nullable: true
                        covers:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              original_url:
                                type: string
                              thumbnail:
                                nullable: true
                              id:
                                type: string
                              type:
                                type: string
                              filetype:
                                type: string
                              width:
                                type: integer
                              height:
                                type: integer
                              native_width:
                                type: integer
                              native_height:
                                type: integer
                            required:
                            - url
                            - original_url
                            - thumbnail
                            - id
                            - type
                            - filetype
                            - width
                            - height
                            - native_width
                            - native_height
                        main_cover_id:
                          nullable: true
                          type: string
                        bundle_products:
                          type: array
                          items: {}
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                nullable: true
                              options:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    price_difference:
                                      type: integer
                                    is_pay_what_you_want:
                                      type: boolean
                                    recurrence_prices:
                                      nullable: true
                                    url:
                                      nullable: true
                                  required:
                                  - name
                                  - price_difference
                                  - is_pay_what_you_want
                                  - recurrence_prices
                                  - url
                                nullable: true
                        custom_delivery_url:
                          nullable: true
                        sales_count:
                          type: integer
                        sales_usd_cents:
                          type: number
                          format: float
                      required:
                      - name
                      - preview_url
                      - description
                      - customizable_price
                      - require_shipping
                      - custom_receipt
                      - custom_permalink
                      - subscription_duration
                      - id
                      - url
                      - price
                      - currency
                      - short_url
                      - thumbnail_url
                      - tags
                      - formatted_price
                      - published
                      - file_info
                      - max_purchase_count
                      - deleted
                      - custom_fields
                      - custom_summary
                      - is_tiered_membership
                      - recurrences
                      - covers
                      - main_cover_id
                      - bundle_products
                      - variants
                  next_page_key:
                    type: string
                  next_page_url:
                    type: string
                required:
                - success
                - products
              example:
                success: true
                products:
                - name: The Works of Edgar Gumstein
                  preview_url: http://localhost:9000/gumroad-specs/5v3d2l6uh5la5knhrgzxy62bfe0i
                  description: des2
                  customizable_price:
                  require_shipping: false
                  custom_receipt:
                  custom_permalink:
                  subscription_duration:
                  id: CgpE42alezUoe_wfJaQgqA==
                  url:
                  price: 100
                  currency: usd
                  short_url: http://edgar6ab65c3b514.test.gumroad.com:31337/l/s
                  thumbnail_url:
                  tags: []
                  formatted_price: "$1"
                  published: false
                  file_info: {}
                  max_purchase_count:
                  deleted: false
                  custom_fields: []
                  custom_summary:
                  is_tiered_membership: false
                  recurrences:
                  covers:
                  - url: http://localhost:9000/gumroad-specs/5v3d2l6uh5la5knhrgzxy62bfe0i
                    original_url: http://localhost:9000/gumroad-specs/objznt9ytfxsjz26shx6r78zoj52
                    thumbnail:
                    id: 43d4c9501cb1c779e11d0173e6fe9360
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  - url: http://localhost:9000/gumroad-specs/6he10y1fgai57uhcjgujv1z0ngox
                    original_url: http://localhost:9000/gumroad-specs/3pikmfpdmgiy8h62ffsacryfx4e6
                    thumbnail:
                    id: d5817604aae2a5d4e7f383735e15a0f9
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  - url: http://localhost:9000/gumroad-specs/unjy0nhvejbil1c3gljmtu050sva
                    original_url: http://localhost:9000/gumroad-specs/c5h7n8kpal6kvkpfjdoe1obyn75a
                    thumbnail:
                    id: a569537c19814d595d0678e513957aba
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  main_cover_id: 43d4c9501cb1c779e11d0173e6fe9360
                  bundle_products: []
                  variants: []
                - name: The Works of Edgar Gumstein
                  preview_url: http://localhost:9000/gumroad-specs/v8ji6tzq4vonum5xfdi0kldxd1zy
                  description: des1
                  customizable_price:
                  require_shipping: false
                  custom_receipt:
                  custom_permalink:
                  subscription_duration:
                  id: 2RF1yPzNqbh66Pbi5yyIwg==
                  url:
                  price: 100
                  currency: usd
                  short_url: http://edgar6ab65c3b514.test.gumroad.com:31337/l/w
                  thumbnail_url:
                  tags: []
                  formatted_price: "$1"
                  published: true
                  file_info: {}
                  max_purchase_count:
                  deleted: false
                  custom_fields: []
                  custom_summary:
                  is_tiered_membership: false
                  recurrences:
                  covers:
                  - url: http://localhost:9000/gumroad-specs/v8ji6tzq4vonum5xfdi0kldxd1zy
                    original_url: http://localhost:9000/gumroad-specs/c941azt47gt39obxri0to4dsq4xk
                    thumbnail:
                    id: df4d31cfab983871b3a03267ed6854d3
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  - url: http://localhost:9000/gumroad-specs/h2rox61l6fxcytubq47y5cx9zzti
                    original_url: http://localhost:9000/gumroad-specs/2zjyqfh92kebt9la7u5ky2v2sbkt
                    thumbnail:
                    id: 4531588463a98e8590a58311edbb40ee
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  - url: http://localhost:9000/gumroad-specs/kd4dgl0x7m2sz642e36a2k9ezpak
                    original_url: http://localhost:9000/gumroad-specs/y2d9pxpk20cqw3aosni6cu0wxfoa
                    thumbnail:
                    id: 13ac32b8a4f2779a9b35ed225a26e42b
                    type: image
                    filetype: png
                    width: 670
                    height: 210
                    native_width: 1633
                    native_height: 512
                  main_cover_id: df4d31cfab983871b3a03267ed6854d3
                  bundle_products: []
                  variants: []
                next_page_key: 20260429181831000000-1054867456
                next_page_url: "/v2/products.json?page_key=20260429181831000000-1054867456"
        '400':
          description: returns an error for an invalid page_key
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: 400
                error: Invalid page_key.
        '401':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
              example: ''
        '403':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
              example: ''
    post:
      summary: create
      tags:
      - Api::V2::Link
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                name:
                  type: string
                price:
                  type: string
                custom_permalink:
                  type: string
                custom_summary:
                  type: string
                customizable_price:
                  type: string
                description:
                  type: string
                max_purchase_count:
                  type: string
                native_type:
                  type: string
                price_currency_type:
                  type: string
                suggested_price_cents:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                subscription_duration:
                  type: string
                rich_content:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: object
                        properties:
                          type:
                            type: string
                          content:
                            type: array
                            properties:
                              foo:
                                type: string
                            required:
                            - foo
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                content:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      text:
                                        type: string
                                    required:
                                    - type
                                    - text
                                attrs:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    uid:
                                      type: string
                                  required:
                                  - id
                                  - uid
                              required:
                              - type
                        required:
                        - type
                        - content
                        items:
                          type: string
                      title:
                        type: string
                    required:
                    - description
                files:
                  type: array
                  items:
                    type: object
                    properties:
                      display_name:
                        type: string
                      url:
                        type: string
                      id:
                        type: string
                taxonomy_id:
                  type: string
                file:
                  type: array
                  properties:
                    url:
                      type: string
                    signed_blob_id:
                      type: string
                    nested:
                      type: object
                      properties:
                        key:
                          type: string
                      required:
                      - key
                  items:
                    type: string
                preview:
                  type: array
                  properties:
                    url:
                      type: string
                    signed_blob_id:
                      type: string
                    nested:
                      type: object
                      properties:
                        key:
                          type: string
                      required:
                      - key
                  items:
                    type: string
                thumbnail:
                  type: array
                  properties:
                    url:
                      type: string
                    signed_blob_id:
                      type: string
                    nested:
                      type: object
                      properties:
                        key:
                          type: string
                      required:
                      - key
                  items:
                    type: string
              required:
              - access_token
              - name
              - price
            example:
              access_token: s7WBLReMHOD4jzeJzFJyY-mmUGGPxq4bga1isc4GvfY
              name: Some product
              price: '200'
              custom_permalink: my-course
              custom_summary: A short summary
              customizable_price: 'true'
              description: <p>Check this out</p><upsell-card productid="Lk6iwMxoX7KUn_gK3zgs3A=="></upsell-card>
              max_purchase_count: '50'
              native_type: membership
              price_currency_type: xyz
              suggested_price_cents: '500'
              tags:
              - valid
              - nested: hash
              subscription_duration: weekly
              rich_content:
              - title: Page 1
                description:
                  type: doc
                  content:
                  - type: fileEmbed
                    attrs:
                      id: temp-file-1
                      uid: 79c5f4f0-902c-42ec-9046-7c179e696522
              files:
              - id: temp-file-1
                url: http://localhost:9000/gumroad-specs/attachments/2954184233076/test/original/doc.pdf
                display_name: Doc
              taxonomy_id: '999999'
              file:
              - ''
              - ''
              preview:
              - ''
              - ''
              thumbnail:
              - ''
              - ''
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                price:
                  type: string
                access_token:
                  type: string
                file:
                  type: string
                  format: binary
                preview:
                  type: string
                  format: binary
                thumbnail:
                  type: string
                  format: binary
              required:
              - name
              - price
              - access_token
            example:
              name: Some product
              price: '200'
              access_token: s1uvU-zmJTMNqCWgIDPKvmqBqGlwIc8Ay0bwIyMxDuk
              file: smilie.png
              preview: smilie.png
              thumbnail: smilie.png
      responses:
        '200':
          description: creates a product via API key auth
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    type: object
                    properties:
                      name:
                        type: string
                      preview_url:
                        nullable: true
                      description:
                        nullable: true
                        type: string
                      customizable_price:
                        nullable: true
                        type: boolean
                      require_shipping:
                        type: boolean
                      custom_receipt:
                        nullable: true
                      custom_permalink:
                        nullable: true
                        type: string
                      subscription_duration:
                        nullable: true
                        type: string
                      id:
                        type: string
                      url:
                        nullable: true
                      price:
                        type: integer
                      currency:
                        type: string
                      short_url:
                        type: string
                      thumbnail_url:
                        nullable: true
                      tags:
                        type: array
                        items:
                          type: string
                      formatted_price:
                        type: string
                      published:
                        type: boolean
                      file_info:
                        type: object
                        properties: {}
                      max_purchase_count:
                        nullable: true
                        type: integer
                      deleted:
                        type: boolean
                      custom_fields:
                        type: array
                        items: {}
                      custom_summary:
                        nullable: true
                        type: string
                      is_tiered_membership:
                        type: boolean
                      recurrences:
                        nullable: true
                        type: array
                        items:
                          type: string
                      covers:
                        type: array
                        items: {}
                      main_cover_id:
                        nullable: true
                      bundle_products:
                        type: array
                        items: {}
                      variants:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  price_difference:
                                    nullable: true
                                    type: integer
                                  is_pay_what_you_want:
                                    type: boolean
                                  recurrence_prices:
                                    type: object
                                    properties:
                                      monthly:
                                        type: object
                                        properties:
                                          price_cents:
                                            type: integer
                                          suggested_price_cents:
                                            nullable: true
                                        required:
                                        - price_cents
                                        - suggested_price_cents
                                    required:
                                    - monthly
                                    nullable: true
                                  url:
                                    nullable: true
                                  rich_content:
                                    type: array
                                    items: {}
                                required:
                                - name
                                - price_difference
                                - is_pay_what_you_want
                                - recurrence_prices
                                - url
                                - rich_content
                          required:
                          - title
                          - options
                      rich_content:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            page_id:
                              type: string
                            title:
                              type: string
                            variant_id:
                              nullable: true
                            description:
                              type: object
                              properties:
                                type:
                                  type: string
                                content:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      content:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            text:
                                              type: string
                                            type:
                                              type: string
                                          required:
                                          - text
                                          - type
                                      attrs:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          uid:
                                            type: string
                                        required:
                                        - id
                                        - uid
                                    required:
                                    - type
                              required:
                              - type
                              - content
                            updated_at:
                              type: string
                          required:
                          - id
                          - page_id
                          - title
                          - variant_id
                          - description
                          - updated_at
                      has_same_rich_content_for_all_variants:
                        type: boolean
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            size:
                              nullable: true
                            url:
                              type: string
                            filetype:
                              type: string
                            filegroup:
                              type: string
                          required:
                          - id
                          - name
                          - size
                          - url
                          - filetype
                          - filegroup
                      custom_delivery_url:
                        nullable: true
                      sales_count:
                        type: integer
                      sales_usd_cents:
                        type: number
                        format: float
                    required:
                    - name
                    - preview_url
                    - description
                    - customizable_price
                    - require_shipping
                    - custom_receipt
                    - custom_permalink
                    - subscription_duration
                    - id
                    - url
                    - price
                    - currency
                    - short_url
                    - thumbnail_url
                    - tags
                    - formatted_price
                    - published
                    - file_info
                    - max_purchase_count
                    - deleted
                    - custom_fields
                    - custom_summary
                    - is_tiered_membership
                    - recurrences
                    - covers
                    - main_cover_id
                    - bundle_products
                    - variants
                    - rich_content
                    - has_same_rich_content_for_all_variants
                    - files
                  message:
                    type: string
                required:
                - success
              example:
                success: true
                product:
                  name: Some product
                  preview_url:
                  description:
                  customizable_price:
                  require_shipping: false
                  custom_receipt:
                  custom_permalink:
                  subscription_duration:
                  id: 8oWYR7r1aO-YxywO8zgQcQ==
                  url:
                  price: 200
                  currency: usd
                  short_url: http://edgar2358c8aa661.test.gumroad.com:31337/l/z
                  thumbnail_url:
                  tags: []
                  formatted_price: "$2"
                  published: false
                  file_info: {}
                  max_purchase_count:
                  deleted: false
                  custom_fields: []
                  custom_summary:
                  is_tiered_membership: false
                  recurrences:
                  covers: []
                  main_cover_id:
                  bundle_products: []
                  variants: []
                  rich_content: []
                  has_same_rich_content_for_all_variants: false
                  files: []
                  custom_delivery_url:
                  sales_count: 0
                  sales_usd_cents: 0.0
                message: "'thumbnail' is not an accepted parameter on POST /v2/products.
                  Thumbnails can only be set after the product is created. Create
                  the product first, then POST to /v2/products/:id/thumbnail with
                  a signed_blob_id."
  "/v2/products/3Ecs5ZRtoX283iScdVzXPQ==/variant_categories/MWECCv7MBw04s_juSgtTCQ==++":
    post:
      summary: POST /v2/products/3Ecs5ZRtoX283iScdVzXPQ==/variant_categories/MWECCv7MBw04s_juSgtTCQ==++
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: update
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: MWECCv7MBw04s_juSgtTCQ==++
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: 3Ecs5ZRtoX283iScdVzXPQ==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                title:
                  type: string
              required:
              - access_token
              - title
            example:
              access_token: Ckv-id7FoawnOp6SKlWNIlGuYZw-xF-9Yd0-E8DfgKQ
              title: new_name1
      responses:
        '200':
          description: fails gracefully on bad id
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: The variant_category was not found.
  "/v2/products/ISDqwV2oAWDouzwq93FJwg==/variant_categories/JkBtSju2mZD4_9qaq5n3TQ==":
    post:
      summary: POST /v2/products/ISDqwV2oAWDouzwq93FJwg==/variant_categories/JkBtSju2mZD4_9qaq5n3TQ==
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: update
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: JkBtSju2mZD4_9qaq5n3TQ==
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: ISDqwV2oAWDouzwq93FJwg==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                title:
                  type: string
              required:
              - access_token
              - title
            example:
              access_token: w0iBZbXTk78cLbPyUH3PL0V01aKO-VNzZL_qye1zkps
              title: new_name1
      responses:
        '200':
          description: returns the right response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  variant_category:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                    required:
                    - id
                    - title
                required:
                - success
                - variant_category
              example:
                success: true
                variant_category:
                  id: JkBtSju2mZD4_9qaq5n3TQ==
                  title: new_name1
  "/v2/products/IpkU-rXRgXLOkCGm04MXyA==/variant_categories/diGAFoVEFlF9iubsWUeL1Q==":
    post:
      summary: POST /v2/products/IpkU-rXRgXLOkCGm04MXyA==/variant_categories/diGAFoVEFlF9iubsWUeL1Q==
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: destroy
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: diGAFoVEFlF9iubsWUeL1Q==
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: IpkU-rXRgXLOkCGm04MXyA==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: q-zIOvS3R2tltnpTaNX0-NoOIM9HmPMmd4jsQOa695w
      responses:
        '200':
          description: returns the right response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: true
                message: The variant_category was deleted successfully.
  "/v2/products/aa9Mg9cPo2GYcDmhNAzP5A==/enable":
    post:
      summary: POST /v2/products/aa9Mg9cPo2GYcDmhNAzP5A==/enable
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: enable
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/links
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: aa9Mg9cPo2GYcDmhNAzP5A==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: KvjQdHt2DsFvhzlicDhTwwr0L_Mfl3sVojoVW2vqVH8
      responses:
        '200':
          description: does not publish a product if it violates existing universal
            offer_codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: An existing discount code puts the price of this product
                  below the $0.99 minimum after discount.
  "/v2/products/d312MRmd08166q9OUqovsA==/variant_categories/hPYzoexstcdAgt0Occk3gg==++":
    post:
      summary: POST /v2/products/d312MRmd08166q9OUqovsA==/variant_categories/hPYzoexstcdAgt0Occk3gg==++
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: destroy
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: hPYzoexstcdAgt0Occk3gg==++
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: d312MRmd08166q9OUqovsA==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: mwEmDlbv8JWPAfRECTAcX0Sqeok1Hn3WXGARhkRVu6A
      responses:
        '200':
          description: fails gracefully on bad id
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: The variant_category was not found.
  "/v2/products/jD1DnARW47z2zm6iHyFa_A==/variant_categories/PHpk4Z8_r0-o0CFBeVOoDA==++":
    post:
      summary: POST /v2/products/jD1DnARW47z2zm6iHyFa_A==/variant_categories/PHpk4Z8_r0-o0CFBeVOoDA==++
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: show
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: PHpk4Z8_r0-o0CFBeVOoDA==++
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: jD1DnARW47z2zm6iHyFa_A==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: zza5UjcbloiWZcSTWBFrZPzmx2n6KIcBmXtt1gwZbSA
      responses:
        '200':
          description: fails gracefully on bad id
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: The variant_category was not found.
  "/v2/products/tQ07YtCyfd_ojS0Y6Dmphg==/variant_categories/ouxt9PPenCBKr3CzKWd5nA==":
    post:
      summary: POST /v2/products/tQ07YtCyfd_ojS0Y6Dmphg==/variant_categories/ouxt9PPenCBKr3CzKWd5nA==
      parameters:
      - name: action
        in: path
        required: true
        schema:
          type: string
        example: show
      - name: controller
        in: path
        required: true
        schema:
          type: string
        example: api/v2/variant_categories
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: ouxt9PPenCBKr3CzKWd5nA==
      - name: link_id
        in: path
        required: true
        schema:
          type: string
        example: tQ07YtCyfd_ojS0Y6Dmphg==
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
              required:
              - access_token
            example:
              access_token: ipH5NeMQf6Yu3iwlWYZr5zf1utEeAKZIy9_NE1yu710
      responses:
        '200':
          description: returns the right response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  variant_category:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                    required:
                    - id
                    - title
                required:
                - success
                - variant_category
              example:
                success: true
                variant_category:
                  id: ouxt9PPenCBKr3CzKWd5nA==
                  title: Size
  "/v2/products/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V2::Link
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: NOT_REAL_TOKEN
      responses:
        '200':
          description: tells you if a product can't be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
              example:
                success: false
                message: The product was not found.
    get:
      summary: show
      tags:
      - Api::V2::Link
      parameters:
      - name: access_token
        in: query
        required: false
        schema:
          type: string
        example: LAv1dvAZmvEKoulhStiLeE-A5sj036BdfOc8qSsKtN4
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: O8VF7Zru_TC8UhLJfLWs2Q==
      responses:
        '200':
          description: returns product data without raising an error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    type: object
                    properties:
                      name:
                        type: string
                      preview_url:
                        nullable: true
                        type: string
                      description:
                        type: string
                      customizable_price:
                        nullable: true
                      require_shipping:
                        type: boolean
                      custom_receipt:
                        nullable: true
                      custom_permalink:
                        nullable: true
                      subscription_duration:
                        nullable: true
                        type: string
                      id:
                        type: string
                      url:
                        nullable: true
                      price:
                        type: integer
                      currency:
                        type: string
                      short_url:
                        type: string
                      thumbnail_url:
                        nullable: true
                      tags:
                        type: array
                        items: {}
                      formatted_price:
                        type: string
                      published:
                        type: boolean
                      file_info:
                        type: object
                        properties: {}
                      max_purchase_count:
                        nullable: true
                      deleted:
                        type: boolean
                      custom_fields:
                        type: array
                        items: {}
                      custom_summary:
                        nullable: true
                      is_tiered_membership:
                        type: boolean
                      recurrences:
                        nullable: true
                        type: array
                        items:
                          type: string
                      covers:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            original_url:
                              type: string
                            thumbnail:
                              nullable: true
                            id:
                              type: string
                            type:
                              type: string
                            filetype:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                            native_width:
                              type: integer
                            native_height:
                              type: integer
                          required:
                          - url
                          - original_url
                          - thumbnail
                          - id
                          - type
                          - filetype
                          - width
                          - height
                          - native_width
                          - native_height
                      main_cover_id:
                        nullable: true
                        type: string
                      bundle_products:
                        type: array
                        items:
                          type: object
                          properties:
                            product_id:
                              type: string
                            variant_id:
                              nullable: true
                            quantity:
                              type: integer
                            position:
                              nullable: true
                          required:
                          - product_id
                          - variant_id
                          - quantity
                          - position
                      variants:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  price_difference:
                                    type: integer
                                    nullable: true
                                  is_pay_what_you_want:
                                    type: boolean
                                  recurrence_prices:
                                    nullable: true
                                    type: object
                                    properties:
                                      monthly:
                                        type: object
                                        properties:
                                          price_cents:
                                            type: integer
                                          suggested_price_cents:
                                            nullable: true
                                          purchasing_power_parity_prices:
                                            type: object
                                            properties:
                                              AD:
                                                type: integer
                                              AE:
                                                type: integer
                                              AF:
                                                type: integer
                                              AG:
                                                type: integer
                                              AI:
                                                type: integer
                                              AL:
                                                type: integer
                                              AM:
                                                type: integer
                                              AO:
                                                type: integer
                                              AQ:
                                                type: integer
                                              AR:
                                                type: integer
                                              AS:
                                                type: integer
                                              AT:
                                                type: integer
                                              AU:
                                                type: integer
                                              AW:
                                                type: integer
                                              AX:
                                                type: integer
                                              AZ:
                                                type: integer
                                              BA:
                                                type: integer
                                              BB:
                                                type: integer
                                              BD:
                                                type: integer
                                              BE:
                                                type: integer
                                              BF:
                                                type: integer
                                              BG:
                                                type: integer
                                              BH:
                                                type: integer
                                              BI:
                                                type: integer
                                              BJ:
                                                type: integer
                                              BL:
                                                type: integer
                                              BM:
                                                type: integer
                                              BN:
                                                type: integer
                                              BO:
                                                type: integer
                                              BQ:
                                                type: integer
                                              BR:
                                                type: integer
                                              BS:
                                                type: integer
                                              BT:
                                                type: integer
                                              BV:
                                                type: integer
                                              BW:
                                                type: integer
                                              BY:
                                                type: integer
                                              BZ:
                                                type: integer
                                              CA:
                                                type: integer
                                              CC:
                                                type: integer
                                              CD:
                                                type: integer
                                              CF:
                                                type: integer
                                              CG:
                                                type: integer
                                              CH:
                                                type: integer
                                              CI:
                                                type: integer
                                              CK:
                                                type: integer
                                              CL:
                                                type: integer
                                              CM:
                                                type: integer
                                              CN:
                                                type: integer
                                              CO:
                                                type: integer
                                              CR:
                                                type: integer
                                              CU:
                                                type: integer
                                              CV:
                                                type: integer
                                              CW:
                                                type: integer
                                              CX:
                                                type: integer
                                              CY:
                                                type: integer
                                              CZ:
                                                type: integer
                                              DE:
                                                type: integer
                                              DJ:
                                                type: integer
                                              DK:
                                                type: integer
                                              DM:
                                                type: integer
                                              DO:
                                                type: integer
                                              DZ:
                                                type: integer
                                              EC:
                                                type: integer
                                              EE:
                                                type: integer
                                              EG:
                                                type: integer
                                              EH:
                                                type: integer
                                              ER:
                                                type: integer
                                              ES:
                                                type: integer
                                              ET:
                                                type: integer
                                              FI:
                                                type: integer
                                              FJ:
                                                type: integer
                                              FK:
                                                type: integer
                                              FM:
                                                type: integer
                                              FO:
                                                type: integer
                                              FR:
                                                type: integer
                                              GA:
                                                type: integer
                                              GB:
                                                type: integer
                                              GD:
                                                type: integer
                                              GE:
                                                type: integer
                                              GF:
                                                type: integer
                                              GG:
                                                type: integer
                                              GH:
                                                type: integer
                                              GI:
                                                type: integer
                                              GL:
                                                type: integer
                                              GM:
                                                type: integer
                                              GN:
                                                type: integer
                                              GP:
                                                type: integer
                                              GQ:
                                                type: integer
                                              GR:
                                                type: integer
                                              GS:
                                                type: integer
                                              GT:
                                                type: integer
                                              GU:
                                                type: integer
                                              GW:
                                                type: integer
                                              GY:
                                                type: integer
                                              HK:
                                                type: integer
                                              HM:
                                                type: integer
                                              HN:
                                                type: integer
                                              HR:
                                                type: integer
                                              HT:
                                                type: integer
                                              HU:
                                                type: integer
                                              ID:
                                                type: integer
                                              IE:
                                                type: integer
                                              IL:
                                                type: integer
                                              IM:
                                                type: integer
                                              IN:
                                                type: integer
                                              IO:
                                                type: integer
                                              IQ:
                                                type: integer
                                              IR:
                                                type: integer
                                              IS:
                                                type: integer
                                              IT:
                                                type: integer
                                              JE:
                                                type: integer
                                              JM:
                                                type: integer
                                              JO:
                                                type: integer
                                              JP:
                                                type: integer
                                              KE:
                                                type: integer
                                              KG:
                                                type: integer
                                              KH:
                                                type: integer
                                              KI:
                                                type: integer
                                              KM:
                                                type: integer
                                              KN:
                                                type: integer
                                              KP:
                                                type: integer
                                              KR:
                                                type: integer
                                              KW:
                                                type: integer
                                              KY:
                                                type: integer
                                              KZ:
                                                type: integer
                                              LA:
                                                type: integer
                                              LB:
                                                type: integer
                                              LC:
                                                type: integer
                                              LI:
                                                type: integer
                                              LK:
                                                type: integer
                                              LR:
                                                type: integer
                                              LS:
                                                type: integer
                                              LT:
                                                type: integer
                                              LU:
                                                type: integer
                                              LV:
                                                type: integer
                                              LY:
                                                type: integer
                                              MA:
                                                type: integer
                                              MC:
                                                type: integer
                                              MD:
                                                type: integer
                                              ME:
                                                type: integer
                                              MF:
                                                type: integer
                                              MG:
                                                type: integer
                                              MH:
                                                type: integer
                                              MK:
                                                type: integer
[...]
