# AUTO-GENERATED by script/openapi/merger.rb. Do not edit by hand.
# Inputs:
#   - tmp/openapi/routes.json
#   - tmp/openapi/from_rspec.yaml
#   - tmp/openapi/from_serializers.yaml
#   - tmp/openapi/from_specs.yaml
#   - docs/openapi.yaml.handwritten.bak (info/servers/securitySchemes)
# Re-run: bundle exec ruby script/openapi/merger.rb
---
openapi: 3.1.0
info:
  title: Gumroad API
  version: 2.0.0
  description: |
    Gumroad's public REST API (v2). All requests require an OAuth2 access token,
    passed either as a bearer token (`Authorization: Bearer <token>`) or as an
    `access_token` query/body parameter.

    Responses are JSON. Successful responses are wrapped in `{ "success": true, ... }`.
    Error responses are wrapped in `{ "success": false, "message": "..." }` with a
    2xx status today (legacy behavior — see Api::V2::BaseController).

    This spec is hand-authored from the controllers under `app/controllers/api/v2/`
    and is a starting scaffold — request/response payload schemas use freeform
    objects where the live shape is too dynamic to pin down without drift.
  contact:
    name: Gumroad
    url: https://gumroad.com/api
  license:
    name: MIT
    url: https://github.com/antiwork/gumroad/blob/main/LICENSE.md
servers:
- url: https://api.gumroad.com/v2
  description: Production
- url: https://gumroad.com/api/v2
  description: Production (alternate host)
security:
- oauth2: []
- bearerAuth: []
- accessTokenQuery: []
tags:
- name: User
- name: Products
- name: Variant categories
- name: Variants
- name: Custom fields
- name: Offer codes
- name: SKUs
- name: Subscribers
- name: Sales
- name: Payouts
- name: Licenses
- name: Resource subscriptions
- name: Tax forms
- name: Earnings
- name: Files
- name: Thumbnails
- name: Covers
- name: Bundle contents
- name: Notion unfurl URLs
paths:
  "/earnings":
    get:
      tags:
      - Earnings
      summary: Get yearly earnings
      operationId: earnings_show
      description: GET `/v2/earnings` (handled by `api/v2/earnings#show`).
      parameters:
      - name: year
        in: query
        required: false
        schema:
          oneOf:
          - type: integer
          - type: array
            items:
              type: string
        example: 2021
      responses:
        '200':
          description: Earnings summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  year:
                    type: integer
                  currency:
                    type: string
                  gross_cents:
                    type: integer
                  fees_cents:
                    type: integer
                  taxes_cents:
                    type: integer
                  affiliate_credit_cents:
                    type: integer
                  net_cents:
                    type: integer
                required:
                - success
                - year
                - currency
                - gross_cents
                - fees_cents
                - taxes_cents
                - affiliate_credit_cents
                - net_cents
        '401':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
        '403':
          description: returns 403 when tax_center is not enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
            text/html:
              schema:
                type: string
        '404':
          description: returns 404 when the year is before the seller account-creation year
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
      x-gumroad-coverage: rspec-recorded
  "/files/abort":
    post:
      tags:
      - Files
      summary: Abort a multipart upload
      operationId: files_abort
      description: POST `/v2/files/abort` (handled by `api/v2/files#abort`).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - upload_id
              - key
              properties:
                upload_id:
                  type: string
                key:
                  type: string
      responses:
        '200':
          description: Aborted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                required:
                - success
                - status
        '400':
          description: returns 400 when S3 raises a service error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
        '403':
          description: returns 403
          content:
            text/html:
              schema:
                type: string
      x-gumroad-coverage: rspec-recorded
  "/files/complete":
    post:
      tags:
      - Files
      summary: Complete a multipart upload
      operationId: files_complete
      description: POST `/v2/files/complete` (handled by `api/v2/files#complete`).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - upload_id
              - key
              - parts
              properties:
                upload_id:
                  type: string
                key:
                  type: string
                parts:
                  type: array
                  items:
                    type: object
                    required:
                    - part_number
                    - etag
                    properties:
                      part_number:
                        type: integer
                      etag:
                        type: string
      responses:
        '200':
          description: Upload completed; returns canonical file URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  file_url:
                    type: string
                required:
                - success
                - file_url
        '400':
          description: returns 400 with the S3 error message when the upload_id no longer exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
      x-gumroad-coverage: rspec-recorded
  "/files/presign":
    post:
      tags:
      - Files
      summary: Create a presigned multipart upload
      operationId: files_presign
      description: POST `/v2/files/presign` (handled by `api/v2/files#presign`).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - filename
              - file_size
              properties:
                filename:
                  type: string
                file_size:
                  type: integer
                  description: Bytes; max 20 GB.
      responses:
        '200':
          description: Presigned URLs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  upload_id:
                    type: string
                  key:
                    type: string
                  file_url:
                    type: string
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        part_number:
                          type: integer
                        presigned_url:
                          type: string
                      required:
                      - part_number
                      - presigned_url
                required:
                - success
                - upload_id
                - key
                - file_url
                - parts
        '400':
          description: returns 400 when file_size exceeds the 20 GB maximum
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
        '401':
          description: returns 401
          content:
            text/html:
              schema:
                type: string
        '403':
          description: returns 403
          content:
            text/html:
              schema:
                type: string
      x-gumroad-coverage: rspec-recorded
  "/licenses/decrement_uses_count":
    put:
      tags:
      - Licenses
      summary: Decrement a license's uses count
      operationId: licenses_decrement_uses_count
      description: PUT `/v2/licenses/decrement_uses_count` (handled by `api/v2/licenses#decrement_uses_count`).
      parameters: []
      responses:
        '200':
          description: License updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessEnvelope"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: Not found — resource does not exist or is not visible to caller.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LicenseLookup"
  "/licenses/disable":
    put:
      tags:
      - Licenses
      summary: Disable a license
      operationId: licenses_disable
      description: PUT `/v2/licenses/disable` (handled by `api/v2/licenses#disable`).
      parameters: []
      responses:
        '200':
          description: License disabled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessEnvelope"
        '404':
          description: Not found — resource does not exist or is not visible to caller.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LicenseLookup"
  "/licenses/enable":
    put:
      tags:
      - Licenses
      summary: Enable a license
      operationId: licenses_enable
      description: PUT `/v2/licenses/enable` (handled by `api/v2/licenses#enable`).
      parameters: []
      responses:
        '200':
          description: License enabled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessEnvelope"
        '404':
          description: Not found — resource does not exist or is not visible to caller.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LicenseLookup"
  "/licenses/rotate":
    put:
      tags:
      - Licenses
      summary: Rotate a license key
      operationId: licenses_rotate
      description: PUT `/v2/licenses/rotate` (handled by `api/v2/licenses#rotate`).
      parameters: []
      responses:
        '200':
          description: License rotated
          content:
            application/json:
              schema:
                allOf:
                - "$ref": "#/components/schemas/SuccessEnvelope"
                - type: object
                  properties:
                    license_key:
                      type: string
        '404':
          description: Not found — resource does not exist or is not visible to caller.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LicenseLookup"
  "/licenses/verify":
    post:
      tags:
      - Licenses
      summary: Verify a license key
      operationId: licenses_verify
      description: |-
        Authentication is not required when using `product_id` + `license_key`.
        Returns license usage and the associated purchase metadata.

        **Auto-generated notes:**

        POST `/v2/licenses/verify` (handled by `api/v2/licenses#verify`).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - license_key
              properties:
                product_id:
                  type: string
                  description: The product's external_id. Required for newer products.
                license_key:
                  type: string
                increment_uses_count:
                  type: boolean
                  default: true
                  description: When true (default), increments the use counter on a successful verify.
      responses:
        '200':
          description: License verified
          content:
            application/json:
              schema:
                allOf:
                - "$ref": "#/components/schemas/SuccessEnvelope"
                - type: object
                  properties:
                    purchase:
                      "$ref": "#/components/schemas/License"
        '404':
          description: License not found, disabled, or access revoked
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '500':
          description: Missing required `product_id` for newer products
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
  "/payouts":
    get:
      tags:
      - Payouts
      summary: List payouts
      operationId: payouts_index
      description: GET `/v2/payouts` (handled by `api/v2/payouts#index`).
      parameters:
      - name: after
        in: query
        required: false
        schema:
          oneOf:
          - type: string
          - type: integer
          format: date
        example: '2026-04-24'
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date
        example: '2026-04-27'
      - name: page_key
        in: query
        required: false
        schema:
          type: string
        example: invalid-page-key
        description: Cursor returned by a previous page (`next_page_key`).
      responses:
        '200':
          description: Payouts page
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  payouts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        amount:
                          type: string
                        currency:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                        processed_at:
                          type: string
                        payment_processor:
                          type: string
                        bank_account_visual: {}
                        paypal_email: {}
                      required:
                      - id
                      - amount
                      - currency
                      - status
                      - created_at
                      - processed_at
                      - payment_processor
                      - bank_account_visual
                      - paypal_email
                  next_page_key:
                    type: string
                  next_page_url:
                    type: string
                required:
                - success
                - payouts
                - next_page_url
        '400':
          description: returns a 400 error if page_key is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
        '403':
          description: the response is 403 forbidden for incorrect scope
          content:
            text/html:
              schema:
                type: string
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: rspec-recorded
  "/payouts/upcoming":
    get:
      tags:
      - Payouts
      summary: List upcoming payouts
      operationId: payouts_upcoming
      description: GET `/v2/payouts/upcoming` (handled by `api/v2/payouts#upcoming`).
      parameters: []
      responses:
        '200':
          description: Upcoming payouts
          content:
            application/json:
              schema:
                allOf:
                - "$ref": "#/components/schemas/SuccessEnvelope"
                - type: object
                  properties:
                    payouts:
                      type: array
                      items:
                        "$ref": "#/components/schemas/Payout"
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: inferred
  "/payouts/{id}":
    get:
      tags:
      - Payouts
      summary: Get a payout
      operationId: payouts_show
      description: GET `/v2/payouts/:id` (handled by `api/v2/payouts#show`).
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: External (public) ID.
      - name: include_sales
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        example: 'false'
      - name: include_transactions
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Payout
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                    - false
                    - true
                  payout:
                    type: object
                    properties:
                      id:
                        type: string
                      amount:
                        type: string
                      currency:
                        type: string
                      status:
                        type: string
                      created_at:
                        type: string
                      processed_at:
                        type: string
                      payment_processor:
                        type: string
                      bank_account_visual: {}
                      paypal_email: {}
                      sales:
                        type: array
                        items: {}
                      refunded_sales:
                        type: array
                        items: {}
                      disputed_sales:
                        type: array
                        items: {}
                    required:
                    - id
                    - amount
                    - currency
                    - status
                    - created_at
                    - processed_at
                    - payment_processor
                    - bank_account_visual
                    - paypal_email
                  message:
                    type: string
                required:
                - success
                - message
                - payout
        '403':
          description: the response is 403 forbidden for incorrect scope
          content:
            text/html:
              schema:
                type: string
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: rspec-recorded
  "/products":
    get:
      tags:
      - Products
      summary: List products
      operationId: links_index
      description: GET `/v2/products` (handled by `api/v2/links#index`).
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        example: Some product
      - name: page_key
        in: query
        required: false
        schema:
          type: string
        example: invalid
        description: Cursor returned by a previous page (`next_page_key`).
      - name: price
        in: query
        required: false
        schema:
          type: integer
        example: 200
      responses:
        '200':
          description: Products page
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        preview_url:
                          type:
                          - string
                          - 'null'
                        description:
                          type: string
                        customizable_price: {}
                        require_shipping:
                          type: boolean
                        custom_receipt: {}
                        custom_permalink: {}
                        subscription_duration: {}
                        id:
                          type: string
                        url: {}
                        price:
                          type: integer
                        currency:
                          type: string
                        short_url:
                          type: string
                        thumbnail_url: {}
                        tags:
                          type: array
                          items: {}
                        formatted_price:
                          type: string
                        published:
                          type: boolean
                        file_info:
                          type: object
                          properties: {}
                        max_purchase_count: {}
                        deleted:
                          type: boolean
                        custom_fields:
                          type: array
                          items: {}
                        custom_summary: {}
                        is_tiered_membership:
                          type: boolean
                        recurrences: {}
                        covers:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              original_url:
                                type: string
                              thumbnail: {}
                              id:
                                type: string
                              type:
                                type: string
                              filetype:
                                type: string
                              width:
                                type: integer
                              height:
                                type: integer
                              native_width:
                                type: integer
                              native_height:
                                type: integer
                            required:
                            - url
                            - original_url
                            - thumbnail
                            - id
                            - type
                            - filetype
                            - width
                            - height
                            - native_width
                            - native_height
                        main_cover_id:
                          type:
                          - string
                          - 'null'
                        bundle_products:
                          type: array
                          items: {}
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              title:
                                type:
                                - string
                                - 'null'
                              options:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    price_difference:
                                      type: integer
                                    is_pay_what_you_want:
                                      type: boolean
                                    recurrence_prices: {}
                                    url: {}
                                  required:
                                  - name
                                  - price_difference
                                  - is_pay_what_you_want
                                  - recurrence_prices
                                  - url
                        custom_delivery_url: {}
                        sales_count:
                          type: integer
                        sales_usd_cents:
                          type: number
                          format: float
                      required:
                      - name
                      - preview_url
                      - description
                      - customizable_price
                      - require_shipping
                      - custom_receipt
                      - custom_permalink
                      - subscription_duration
                      - id
                      - url
                      - price
                      - currency
                      - short_url
                      - thumbnail_url
                      - tags
                      - formatted_price
                      - published
                      - file_info
                      - max_purchase_count
                      - deleted
                      - custom_fields
                      - custom_summary
                      - is_tiered_membership
                      - recurrences
                      - covers
                      - main_cover_id
                      - bundle_products
                      - variants
                  next_page_key:
                    type: string
                  next_page_url:
                    type: string
                required:
                - success
                - products
        '400':
          description: returns an error for an invalid page_key
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                required:
                - status
                - error
        '401':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
        '403':
          description: errors out if you aren't authenticated
          content:
            text/html:
              schema:
                type: string
      x-gumroad-coverage: rspec-recorded
    post:
      tags:
      - Products
      summary: Create a product
      operationId: links_create
      description: POST `/v2/products` (handled by `api/v2/links#create`).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProductCreate"
      responses:
        '200':
          description: Created product
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    type: object
                    properties:
                      name:
                        type: string
                      preview_url: {}
                      description:
                        type:
                        - string
                        - 'null'
                      customizable_price:
                        type:
                        - boolean
                        - 'null'
                      require_shipping:
                        type: boolean
                      custom_receipt: {}
                      custom_permalink:
                        type:
                        - string
                        - 'null'
                      subscription_duration:
                        type:
                        - string
                        - 'null'
                      id:
                        type: string
                      url: {}
                      price:
                        type: integer
                      currency:
                        type: string
                      short_url:
                        type: string
                      thumbnail_url: {}
                      tags:
                        type: array
                        items:
                          type: string
                      formatted_price:
                        type: string
                      published:
                        type: boolean
                      file_info:
                        type: object
                        properties: {}
                      max_purchase_count:
                        type:
                        - integer
                        - 'null'
                      deleted:
                        type: boolean
                      custom_fields:
                        type: array
                        items: {}
                      custom_summary:
                        type:
                        - string
                        - 'null'
                      is_tiered_membership:
                        type: boolean
                      recurrences:
                        type:
                        - array
                        - 'null'
                        items:
                          type: string
                      covers:
                        type: array
                        items: {}
                      main_cover_id: {}
                      bundle_products:
                        type: array
                        items: {}
                      variants:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  price_difference:
                                    type:
                                    - integer
                                    - 'null'
                                  is_pay_what_you_want:
                                    type: boolean
                                  recurrence_prices:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      monthly:
                                        type: object
                                        properties:
                                          price_cents:
                                            type: integer
                                          suggested_price_cents: {}
                                        required:
                                        - price_cents
                                        - suggested_price_cents
                                    required:
                                    - monthly
                                  url: {}
                                  rich_content:
                                    type: array
                                    items: {}
                                required:
                                - name
                                - price_difference
                                - is_pay_what_you_want
                                - recurrence_prices
                                - url
                                - rich_content
                          required:
                          - title
                          - options
                      rich_content:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            page_id:
                              type: string
                            title:
                              type: string
                            variant_id: {}
                            description:
                              type: object
                              properties:
                                type:
                                  type: string
                                content:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      content:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            text:
                                              type: string
                                            type:
                                              type: string
                                          required:
                                          - text
                                          - type
                                      attrs:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          uid:
                                            type: string
                                        required:
                                        - id
                                        - uid
                                    required:
                                    - type
                              required:
                              - type
                              - content
                            updated_at:
                              type: string
                          required:
                          - id
                          - page_id
                          - title
                          - variant_id
                          - description
                          - updated_at
                      has_same_rich_content_for_all_variants:
                        type: boolean
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            size: {}
                            url:
                              type: string
                            filetype:
                              type: string
                            filegroup:
                              type: string
                          required:
                          - id
                          - name
                          - size
                          - url
                          - filetype
                          - filegroup
                      custom_delivery_url: {}
                      sales_count:
                        type: integer
                      sales_usd_cents:
                        type: number
                        format: float
                    required:
                    - name
                    - preview_url
                    - description
                    - customizable_price
                    - require_shipping
                    - custom_receipt
                    - custom_permalink
                    - subscription_duration
                    - id
                    - url
                    - price
                    - currency
                    - short_url
                    - thumbnail_url
                    - tags
                    - formatted_price
                    - published
                    - file_info
                    - max_purchase_count
                    - deleted
                    - custom_fields
                    - custom_summary
                    - is_tiered_membership
                    - recurrences
                    - covers
                    - main_cover_id
                    - bundle_products
                    - variants
                    - rich_content
                    - has_same_rich_content_for_all_variants
                    - files
                  message:
                    type: string
                required:
                - success
                - message
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: rspec-recorded
  "/products/{id}":
    delete:
      tags:
      - Products
      summary: Delete a product
      operationId: links_destroy
      description: DELETE `/v2/products/:id` (handled by `api/v2/links#destroy`).
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product external ID or unique permalink.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                required:
                - success
                - message
        '401':
          description: Unauthorized — missing or invalid access token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      x-gumroad-coverage: rspec-recorded
    get:
      tags:
      - Products
      summary: Get a product
      operationId: links_show
      description: GET `/v2/products/:id` (handled by `api/v2/links#show`).
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product external ID or unique permalink.
      responses:
        '200':
          description: The product
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    type: object
                    properties:
                      name:
                        type: string
                      preview_url:
                        type:
                        - string
                        - 'null'
                      description:
                        type: string
                      customizable_price: {}
                      require_shipping:
                        type: boolean
                      custom_receipt: {}
                      custom_permalink: {}
                      subscription_duration:
                        type:
                        - string
                        - 'null'
                      id:
                        type: string
                      url: {}
                      price:
                        type: integer
                      currency:
                        type: string
                      short_url:
                        type: string
                      thumbnail_url: {}
                      tags:
                        type: array
                        items: {}
                      formatted_price:
                        type: string
                      published:
                        type: boolean
                      file_info:
                        type: object
                        properties: {}
                      max_purchase_count: {}
                      deleted:
                        type: boolean
                      custom_fields:
                        type: array
                        items: {}
                      custom_summary: {}
                      is_tiered_membership:
                        type: boolean
                      recurrences:
                        type:
                        - array
                        - 'null'
                        items:
                          type: string
                      covers:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            original_url:
                              type: string
                            thumbnail: {}
                            id:
                              type: string
                            type:
                              type: string
                            filetype:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                            native_width:
                              type: integer
                            native_height:
                              type: integer
                          required:
                          - url
                          - original_url
                          - thumbnail
                          - id
                          - type
                          - filetype
                          - width
                          - height
                          - native_width
                          - native_height
                      main_cover_id:
                        type:
                        - string
                        - 'null'
                      bundle_products:
                        type: array
                        items:
                          type: object
                          properties:
                            product_id:
                              type: string
                            variant_id: {}
                            quantity:
                              type: integer
                            position: {}
                          required:
                          - product_id
                          - variant_id
                          - quantity
                          - position
                      variants:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            options:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  price_difference:
                                    type:
                                    - integer
                                    - 'null'
                                  is_pay_what_you_want:
                                    type: boolean
                                  recurrence_prices:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      monthly:
                                        type: object
                                        properties:
                                          price_cents:
                                            type: integer
                                          suggested_price_cents: {}
                                          purchasing_power_parity_prices:
                                            type: object
                                            properties:
                                              AD:
                                                type: integer
                                              AE:
                                                type: integer
                                              AF:
                                                type: integer
                                              AG:
                                                type: integer
                                              AI:
                                                type: integer
                                              AL:
                                                type: integer
                                              AM:
                                                type: integer
                                              AO:
                                                type: integer
                                              AQ:
                                                type: integer
                                              AR:
                                                type: integer
                                              AS:
                                                type: integer
                                              AT:
                                                type: integer
                                              AU:
                                                type: integer
                                              AW:
                                                type: integer
                                              AX:
                                                type: integer
                                              AZ:
                                                type: integer
                                              BA:
                                                type: integer
                                              BB:
                                                type: integer
                                              BD:
                                                type: integer
                                              BE:
                                                type: integer
                                              BF:
                                                type: integer
                                              BG:
                                                type: integer
                                              BH:
                                                type: integer
                                              BI:
                                                type: integer
                                              BJ:
                                                type: integer
                                              BL:
                                                type: integer
                                              BM:
                                                type: integer
                                              BN:
                                                type: integer
                                              BO:
                                                type: integer
                                              BQ:
                                                type: integer
                                              BR:
                                                type: integer
                                              BS:
                                                type: integer
                                              BT:
                                                type: integer
                                              BV:
                                                type: integer
                                              BW:
                                                type: integer
                                              BY:
                                                type: integer
                                              BZ:
                                                type: integer
                                              CA:
                                                type: integer
                                              CC:
                                                type: integer
                                              CD:
                                                type: integer
                                              CF:
                                                type: integer
                                              CG:
                                                type: integer
                                              CH:
                                                type: integer
                                              CI:
                                                type: integer
                                              CK:
                                                type: integer
                                              CL:
                                                type: integer
                                              CM:
                                                type: integer
                                              CN:
                                                type: integer
                                              CO:
                                                type: integer
                                              CR:
                                                type: integer
                                              CU:
                                                type: integer
                                              CV:
                                                type: integer
                                              CW:
                                                type: integer
                                              CX:
                                                type: integer
                                              CY:
                                                type: integer
                                              CZ:
                                                type: integer
                                              DE:
                                                type: integer
                                              DJ:
                                                type: integer
                                              DK:
                                                type: integer
                                              DM:
                                                type: integer
                                              DO:
                                                type: integer
                                              DZ:
                                                type: integer
                                              EC:
                                                type: integer
                                              EE:
                                                type: integer
                                              EG:
                                                type: integer
                                              EH:
                                                type: integer
                                              ER:
                                                type: integer
                                              ES:
                                                type: integer
                                              ET:
                                                type: integer
                                              FI:
                                                type: integer
                                              FJ:
                                                type: integer
                                              FK:
                                                type: integer
                                              FM:
                                                type: integer
                                              FO:
                                                type: integer
                                              FR:
                                                type: integer
                                              GA:
                                                type: integer
                                              GB:
                                                type: integer
                                              GD:
                                                type: integer
                                              GE:
                                                type: integer
                                              GF:
                                                type: integer
                                              GG:
                                                type: integer
                                              GH:
                                                type: integer
                                              GI:
                                                type: integer
                                              GL:
                                                type: integer
                                              GM:
                                                type: integer
                                              GN:
                                                type: integer
                                              GP:
                                                type: integer
                                              GQ:
                                                type: integer
                                              GR:
                                                type: integer
                                              GS:
                                                type: integer
                                              GT:
                                                type: integer
                                              GU:
                                                type: integer
                                              GW:
                                                type: integer
                                              GY:
                                                type: integer
                                              HK:
                                                type: integer
                                              HM:
                                                type: integer
                                              HN:
                                                type: integer
                                              HR:
                                                type: integer
                                              HT:
                                                type: integer
                                              HU:
                                                type: integer
                                              ID:
                                                type: integer
                                              IE:
                                                type: integer
                                              IL:
                                                type: integer
                                              IM:
                                                type: integer
                                              IN:
                                                type: integer
                                              IO:
                                                type: integer
                                              IQ:
                                                type: integer
                                              IR:
                                                type: integer
                                              IS:
                                                type: integer
                                              IT:
                                                type: integer
                                              JE:
                                                type: integer
                                              JM:
                                                type: integer
                                              JO:
                                                type: integer
                                              JP:
                                                type: integer
                                              KE:
                                                type: integer
                                              KG:
                                                type: integer
                                              KH:
                                                type: integer
                                              KI:
                                                type: integer
                                              KM:
                                                type: integer
                                              KN:
                                                type: integer
                                              KP:
                                                type: integer
                                              KR:
                                                type: integer
                                              KW:
                                                type: integer
                                              KY:
                                                type: integer
                                              KZ:
                                                type: integer
                                              LA:
                                                type: integer
                                              LB:
                                                type: integer
                                              LC:
                                                type: integer
                                              LI:
                                                type: integer
                                              LK:
                                                type: integer
                                              LR:
                                                type: integer
                                              LS:
                                                type: integer
                                              LT:
                                                type: integer
                                              LU:
                                                type: integer
                                              LV:
                                                type: integer
                                              LY:
                                                type: integer
                                              MA:
                                                type: integer
                                              MC:
                                                type: integer
                                              MD:
                                                type: integer
                                              ME:
                                                type: integer
                                              MF:
                                                type: integer
                                              MG:
                                                type: integer
                                              MH:
                                                type: integer
                                              MK:
                                                type: integer
                                              ML:
                                                type: integer
                                              MM:
                                                type: integer
                                              MN:
                                                type: integer
                                              MO:
                                                type: integer
                                              MP:
                                                type: integer
                                              MQ:
                                                type: integer
                                              MR:
                                                type: integer
                                              MS:
                                                type: integer
                                              MT:
                                                type: integer
                                              MU:
                                                type: integer
                                              MV:
                                                type: integer
                                              MW:
                                                type: integer
                                              MX:
                                                type: integer
                                              MY:
                                                type: integer
                                              MZ:
                                                type: integer
                                              NA:
                                                type: integer
                                              NC:
                                                type: integer
                                              NE:
                                                type: integer
                                              NF:
                                                type: integer
                                              NG:
                                                type: integer
                                              NI:
                                                type: integer
                                              NL:
                                                type: integer
                                              'NO':
                                                type: integer
                                              NP:
                                                type: integer
                                              NR:
                                                type: integer
                                              NU:
                                                type: integer
                                              NZ:
                                                type: integer
                                              OM:
                                                type: integer
                                              PA:
                                                type: integer
                                              PE:
                                                type: integer
                                              PF:
                                                type: integer
                                              PG:
                                                type: integer
                                              PH:
                                                type: integer
                                              PK:
                                                type: integer
                                              PL:
                                                type: integer
                                              PM:
                                                type: integer
                                              PN:
                                                type: integer
                                              PR:
                                                type: integer
                                              PS:
                                                type: integer
                                              PT:
                                                type: integer
                                              PW:
                                                type: integer
                                              PY:
                                                type: integer
                                              QA:
                                                type: integer
                                              RE:
                                                type: integer
                                              RO:
                                                type: integer
                                              RS:
                                                type: integer
                                              RU:
                                                type: integer
                                              RW:
                                                type: integer
                                              SA:
                                                type: integer
                                              SB:
                                                type: integer
                                              SC:
                                                type: integer
                                              SD:
                                                type: integer
                                              SE:
                                                type: integer
                                              SG:
                                                type: integer
                                              SH:
                                                type: integer
                                              SI:
                                                type: integer
                                              SJ:
                                                type: integer
                                              SK:
                                                type: integer
                                              SL:
                                                type: integer
                                              SM:
                                                type: integer
                                              SN:
                                                type: integer
                                              SO:
                                                type: integer
                                              SR:
                                                type: integer
                                              SS:
                                                type: integer
                                              ST:
                                                type: integer
                                              SV:
                                                type: integer
                                              SX:
                                                type: integer
                                              SY:
                                                type: integer
                                              SZ:
                                                type: integer
                                              TC:
                                                type: integer
                                              TD:
                                                type: integer
                                              TF:
                                                type: integer
                                              TG:
                                                type: integer
                                              TH:
                                                type: integer
                                              TJ:
                                                type: integer
                                              TK:
                                                type: integer
                                              TL:
                                                type: integer
                                              TM:
                                                type: integer
                                              TN:
                                                type: integer
                                              TO:
                                                type: integer
                                              TR:
                                                type: integer
                                              TT:
                                                type: integer
                                              TV:
                                                type: integer
                                              TW:
                                                type: integer
                                              TZ:
                                                type: integer
                                              UA:
                                                type: integer
                                              UG:
                                                type: integer
                                              UM:
                                                type: integer
                                              US:
                                                type: integer
                                              UY:
                                                type: integer
                                              UZ:
                                                type: integer
                                              VA:
                                                type: integer
                                              VC:
                                                type: integer
                                              VE:
                                                type: integer
                                              VG:
                                                type: integer
                                              VI:
                                                type: integer
                                              VN:
                                                type: integer
                                              VU:
                                                type: integer
                                              WF:
                                                type: integer
                                              WS:
                                                type: integer
                                              YE:
                                                type: integer
                                              YT:
                                                type: integer
                                              ZA:
                                                type: integer
                                              ZM:
                                                type: integer
                                              ZW:
                                                type: integer
                                              XK:
                                                type: integer
                                            required:
                                            - AD
                                            - AE
                                            - AF
                                            - AG
                                            - AI
                                            - AL
                                            - AM
                                            - AO
                                            - AQ
                                            - AR
                                            - AS
                                            - AT
                                            - AU
                                            - AW
                                            - AX
                                            - AZ
                                            - BA
                                            - BB
                                            - BD
                                            - BE
                                            - BF
                                            - BG
                                            - BH
                                            - BI
                                            - BJ
                                            - BL
                                            - BM
                                            - BN
                                            - BO
                                            - BQ
                                            - BR
                                            - BS
                                            - BT
                                            - BV
                                            - BW
                                            - BY
                                            - BZ
                                            - CA
                                            - CC
                                            - CD
                                            - CF
                                            - CG
                                            - CH
                                            - CI
                                            - CK
                                            - CL
                                            - CM
                                            - CN
                                            - CO
                                            - CR
                                            - CU
                                            - CV
                                            - CW
                                            - CX
                                            - CY
                                            - CZ
                                            - DE
                                            - DJ
                                            - DK
                                            - DM
                                            - DO
                                            - DZ
                                            - EC
                                            - EE
                                            - EG
                                            - EH
                                            - ER
                                            - ES
                                            - ET
                                            - FI
                                            - FJ
                                            - FK
                                            - FM
                                            - FO
                                            - FR
                                            - GA
                                            - GB
                                            - GD
                                            - GE
                                            - GF
                                            - GG
                                            - GH
                                            - GI
                                            - GL
                                            - GM
                                            - GN
                                            - GP
                                            - GQ
                                            - GR
                                            - GS
                                            - GT
                                            - GU
                                            - GW
                                            - GY
                                            - HK
                                            - HM
                                            - HN
                                            - HR
                                            - HT
                                            - HU
                                            - ID
                                            - IE
                                            - IL
                                            - IM
                                            - IN
                                            - IO
                                            - IQ
                                            - IR
                                            - IS
                                            - IT
                                            - JE
                                            - JM
                                            - JO
                                            - JP
                                            - KE
                                            - KG
                                            - KH
                                            - KI
                                            - KM
                                            - KN
                                            - KP
                                            - KR
                                            - KW
                                            - KY
                                            - KZ
                                            - LA
                                            - LB
                                            - LC
                                            - LI
                                            - LK
                                            - LR
                                            - LS
                                            - LT
                                            - LU
                                            - LV
                                            - LY
                                            - MA
                                            - MC
                                            - MD
                                            - ME
                                            - MF
                                            - MG
                                            - MH
                                            - MK
                                            - ML
                                            - MM
                                            - MN
                                            - MO
                                            - MP
                                            - MQ
                                            - MR
                                            - MS
                                            - MT
                                            - MU
                                            - MV
                                            - MW
                                            - MX
                                            - MY
                                            - MZ
                                            - NA
                                            - NC
                                            - NE
                                            - NF
                                            - NG
                                            - NI
                                            - NL
                                            - 'NO'
                                            - NP
                                            - NR
                                            - NU
                                            - NZ
                                            - OM
                                            - PA
                                            - PE
                                            - PF
                                            - PG
                                            - PH
                                            - PK
                                            - PL
                                            - PM
                                            - PN
                                            - PR
                                            - PS
                                            - PT
                                            - PW
                                            - PY
                                            - QA
                                            - RE
                                            - RO
                                            - RS
                                            - RU
                                            - RW
                                            - SA
                                            - SB
                                            - SC
                                            - SD
                                            - SE
                                            - SG
                                            - SH
                                            - SI
                                            - SJ
                                            - SK
                                            - SL
                                            - SM
                                            - SN
                                            - SO
                                            - SR
                                            - SS
                                            - ST
                                            - SV
                                            - SX
                                            - SY
                                            - SZ
                                            - TC
                                            - TD
                                            - TF
                                            - TG
                                            - TH
                                            - TJ
                                            - TK
                                            - TL
                                            - TM
                                            - TN
                                            - TO
                                            - TR
                                            - TT
                                            - TV
                                            - TW
                                            - TZ
                                            - UA
                                            - UG
                                            - UM
                                            - US
                                            - UY
                                            - UZ
                                            - VA
                                            - VC
                                            - VE
                                            - VG
                                            - VI
                                            - VN
                                            - VU
                                            - WF
                                            - WS
                                            - YE
                                            - YT
                                            - ZA
                                            - ZM
                                            - ZW
                                            - XK
                                        required:
                                        - price_cents
                                        - suggested_price_cents
                                        - purchasing_power_parity_prices
                                    required:
                                    - monthly
                                  url: {}
                                  rich_content:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type:
                                          - string
                                          - 'null'
                                        page_id:
                                          type:
                                          - string
                                          - 'null'
                                        title: {}
                                        variant_id:
                                          type:
                                          - string
                                          - 'null'
                                        description:
                                          type:
                                          - object
                                          - 'null'
                                          properties:
                                            type:
                                              type: string
                                            content:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  type:
                                                    type: string
                                                  content:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        text:
                                                          type: string
                                                        type:
                                                          type: string
                                                      required:
                                                      - text
                                                      - type
                                                required:
                                                - type
                                                - content
                                          required:
                                          - type
                                          - content
                                        updated_at:
                                          type:
                                          - string
                                          - 'null'
                                  purchasing_power_parity_prices:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      AD:
                                        type: integer
                                      AE:
                                        type: integer
                                      AF:
                                        type: integer
                                      AG:
                                        type: integer
                                      AI:
                                        type: integer
                                      AL:
                                        type: integer
                                      AM:
                                        type: integer
                                      AO:
                                        type: integer
                                      AQ:
                                        type: integer
                                      AR:
                                        type: integer
                                      AS:
                                        type: integer
                                      AT:
                                        type: integer
                                      AU:
                                        type: integer
                                      AW:
                                        type: integer
                                      AX:
                                        type: integer
                                      AZ:
                                        type: integer
                                      BA:
                                        type: integer
                                      BB:
                                        type: integer
                                      BD:
                                        type: integer
                                      BE:
                                        type: integer
                                      BF:
                                        type: integer
                                      BG:
                                        type: integer
                                      BH:
                                        type: integer
                                      BI:
                                        type: integer
                                      BJ:
                                        type: integer
                                      BL:
                                        type: integer
                                      BM:
                                        type: integer
                                      BN:
                                        type: integer
                                      BO:
                                        type: integer
                                      BQ:
                                        type: integer
                                      BR:
                                        type: integer
                                      BS:
                                        type: integer
                                      BT:
                                        type: integer
                                      BV:
                                        type: integer
                                      BW:
                                        type: integer
                                      BY:
                                        type: integer
                                      BZ:
                                        type: integer
                                      CA:
                                        type: integer
                                      CC:
                                        type: integer
                                      CD:
                                        type: integer
                                      CF:
                                        type: integer
                                      CG:
                                        type: integer
                                      CH:
                                        type: integer
                                      CI:
                                        type: integer
                                      CK:
                                        type: integer
                                      CL:
                                        type: integer
                                      CM:
                                        type: integer
                                      CN:
                                        type: integer
                                      CO:
                                        type: integer
                                      CR:
                                        type: integer
                                      CU:
                                        type: integer
                                      CV:
                                        type: integer
                                      CW:
                                        type: integer
                                      CX:
                                        type: integer
                                      CY:
                                        type: integer
                                      CZ:
                                        type: integer
                                      DE:
                                        type: integer
                                      DJ:
                                        type: integer
                                      DK:
                                        type: integer
                                      DM:
                                        type: integer
[...]
